/* line 4, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
body {
  font-family: 'Raleway', sans-serif;
}

/* line 8, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.hidden {
  display: none;
}

/* line 12, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.col-1 {
  margin-right: 10%;
}

/* line 17, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.articlearea {
  background-color: white;
  top: 0px;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  position: fixed;
}

/* line 26, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.articlearea1 {
  background-color: white;
  opacity: 0.8;
  height: 100%;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}
/* line 34, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.articlearea1 .views {
  position: relative;
  left: 90%;
}

/* line 40, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.w3-container {
  width: 1000px;
  font-family: Fira Sans;
  opacity: 0.8;
  height: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

/* line 48, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.authentif {
  padding-top: 15%;
}

/* line 51, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.authentif2 {
  padding-top: 15%;
  padding-left: 35%;
}

/* line 56, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
}

/* line 62, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-sections {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 66, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.blog2 {
  height: 100%;
  padding: 50px 0;
  background-image: url(/assets/articles-8a0a9386d671519299ae1b73de5b3b7861b96cec5e413cbd910b5b9d5e6dd6f7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 73, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.blog22 {
  height: 100%;
  padding: 50px 0;
  background-color: #fff0e6;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 80, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.blog1 {
  height: 100%;
  background-image: url(/assets/adventures-9ab6643e6b3af5de89836e5ce4c12770ada87f815bccea414e211a9ba0df5128.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 87, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.blog11 {
  height: 100%;
  padding: 50px 0;
  background-color: #e6eeff;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 96, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-sections .flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: rows;
  -ms-flex-direction: rows;
  flex-direction: rows;
}

/* line 103, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-sections .flex--center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 107, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-sections .flex--space-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 111, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-sections .order-first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

/* line 116, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-wrap header {
  width: 135px;
  background: white;
  padding: 30px 0;
}

/* line 121, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-wrap header .header-position {
  position: fixed;
  top: 30px;
  left: 0;
  bottom: 300px;
  width: 135px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 136, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-wrap header .logo {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  max-width: 135px;
  background-image: url(/assets/logo-gm-0e8dd4b53bf2b6dcd5a45503a01837afaf12732d374904f1bf1f438f9ea74303.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
  padding: 0;
  margin: 0;
}

/* line 149, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-wrap header .site-nav ul {
  list-style: none;
  margin: 20px 0;
  padding: 0 20px 0 0;
  text-align: right;
  font-family: Fira Sans;
}

/* line 155, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-wrap header .site-nav li {
  margin-bottom: 30px;
}
/* line 158, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-wrap header .site-nav li a {
  color: grey;
  text-decoration: none;
}

/* line 162, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.home-wrap header .site-nav li:last-child {
  margin-bottom: 30;
}

/* line 168, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.pagination:before,
.pagination:after {
  content: " ";
  display: table;
}

/* line 173, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.pagination:after {
  clear: both;
}

/* line 177, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
* {
  box-sizing: border-box;
}

/* line 181, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.pagination {
  margin-right: 5%;
  text-align: center;
  font-family: Fira Sans;
}
/* line 185, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.pagination a {
  color: black;
}
/* line 188, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.pagination a, .pagination .previous_page, .pagination .current, .pagination .next_page {
  padding: .75em 1em;
  margin: 0 .5em;
  border-radius: .15em;
  line-height: 20px;
  text-decoration: none;
  background: white;
  font-weight: bold;
  font-size: .8em;
  font-style: normal;
  color: dark;
}
/* line 199, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.pagination .current {
  background: #8bc6db;
  color: white;
}
/* line 203, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.pagination .disabled {
  color: #C0C0C0;
}
/* line 205, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.pagination .disabled:hover {
  color: #C0C0C0;
  background: white;
}

/* line 211, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#page_title {
  font-style: italic;
  font-family: Fira Sans;
  letter-spacing: 3px;
  text-shadow: 1px 1px;
  text-align: center;
  border-bottom: 1px solid;
  font-size: 2.5rem;
  padding: .5em 0;
}

/* line 223, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#show_title {
  font-family: Fira Sans;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: visible;
  text-overflow: ellipsis;
  font-weight: 300;
  width: 100%;
  max-width: 760px;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 242, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#content {
  font-family: Fira Sans;
  font-weight: 300;
  width: 100%;
  max-width: 1000px;
  font-size: 1rem;
  text-align: justify;
  text-indent: 50px;
}

/* line 253, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#post_title {
  font-family: Fira Sans;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 300;
  width: 100%;
  max-width: 760px;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 268, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#post_title a {
  display: block;
  color: black;
  text-decoration: none;
}
/* line 273, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#post_title hr {
  margin: 2em auto;
}

/* line 279, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.title_wrapper {
  text-align: center;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}
/* line 280, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.title_wrapper p6 {
  font-family: Fira Sans;
  font-size: 12px;
}
/* line 284, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.title_wrapper p6 a {
  color: grey;
  text-decoration: none;
}

/* line 295, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.date {
  font-size: .7rem;
  text-align: center;
}

/* line 300, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.user {
  font-size: .8rem;
  text-align: center;
}
/* line 303, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.user a {
  text-decoration: none;
  color: grey;
}

/* line 311, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.site-nav a {
  color: #000000;
}

/* line 315, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#share_box {
  text-align: center;
}
/* line 317, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#share_box p {
  padding: 0 0 1em 0;
  margin: 0;
  font-weight: 400;
  color: black;
}
/* line 323, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#share_box i {
  color: black;
  padding: 1em 1.5em;
}
/* line 326, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#share_box i:hover {
  cursor: pointer;
}

/* line 332, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.entypo-heart-emtpy:before {
  font-family: 'entypo', sans-serif;
  color: grey;
}

/* line 336, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
.entypo-heart-fill {
  font-family: 'entypo', sans-serif;
  color: red;
}

/* line 341, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#options a {
  text-decoration: none;
}

/* line 345, d:/Project/GrupulMontan/app/assets/stylesheets/articles.css.scss */
#searcharticle {
  position: relative;
  margin-left: -35%;
}
