// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#editbtn {
  position: relative;

  a {
    text-decoration: none;
  }

  color: #5dabae;
  font-family: Fira Sans;

  font-size: 12px;

  font-weight: bold;

}

.blog4 {
    height: 100%;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
     }



.user-name-and-follow{
  position: relative;

  h3 {
    text-decoration: underline;
  }
}
.biografie{
  position: relative;
  overflow: auto;
  h3 {
    text-decoration: underline;
  }
}
.user-statistics {
  position: relative;
  font-weight: bold;

  p {
    text-decoration: underline;
  }
}
